:root {
  --hue: 65;
  --accent-hue: calc(var(--hue) + 60);
  --color-background: hsl(var(--hue), 50%, 90%);
  --color-panel: hsl(var(--hue), 50%, 95%);
  --color-text: hsl(var(--accent-hue), 80%, 20%);
  --color-border: hsl(var(--accent-hue), 80%, 20%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  width: 100vw;
  background-color: var(--color-background);
  color: var(--color-text);
}

textarea {
  min-height: 100px;
}

header.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.emoji-steg-container {
  height: 90%;
  width: 100%;
  display: flex;
  padding: 0 15% 5% 15%;
  gap: 30px;
}

@media (max-width: 1150px) {
  main.emoji-steg-container {
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5% 5% 5%;
    gap: 30px;
  }
}

@media (max-width: 590px) {
  .input-container {
    flex-direction: column !important;
  }

  .output-container {
    flex-direction: column !important;
  }
}

.panel {
  padding: 33px;
  min-height: fit-content;
  border-radius: 20px;
  flex: 1;
  position: relative;
  background-color: var(--color-panel);
  box-shadow: 2px 2px hsla(var(--hue), 50%, 10%, 0.3),
    0 4px 4px hsla(var(--hue), 50%, 10%, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title-container {
    flex: 1;
    text-align: center;
    padding: 15px 0px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.input-container {
  padding: 5px 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .input-label {
    flex: 2;
    text-align: left;
    height: 80%;
    display: flex;
  }

  .input-textarea,
  .input-textarea:focus,
  .input-textarea:active {
    flex: 3;
    background-color: var(--color-panel);
    color: var(--color-text);
    border: solid 2px var(--color-border);
    border-radius: 4px;
    height: 80%;
    padding: 5px;
  }

  .input-range {
    flex: 3;
    display: flex;
    gap: 10px;

    input {
      flex: 5;
      color: var(--color-text) !important;
    }
    label {
      flex: 1;
    }
  }
}

.output-container {
  padding: 5px 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .output-label {
    flex: 2;
    text-align: left;
    height: 80%;
    display: flex;
  }

  .output-textarea,
  .output-textarea:focus,
  .output-textarea:active {
    flex: 3;
    background-color: var(--color-panel);
    color: var(--color-text);
    border: solid 2px var(--color-border);
    border-radius: 4px;
    height: 80%;
    padding: 5px;
  }
}

.bg-btn {
  background-color: var(--color-text);
  color: var(--color-panel);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.bg-btn:hover {
  border: none;
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

.bd-btn {
  background-color: var(--color-panel);
  color: var(--color-text);
  padding: 10px 15px;
  border: var(--color-text) 2px solid;
  border-radius: 5px;
}

.bd-btn:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

.processing-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel#encode-panel {
  #emoji-carrier-container {
    flex: 2;
  }
  #hidden-text-container {
    flex: 2;
  }
  #plaintext-container {
    flex: 2;
  }
  #encoded-output-container {
    flex: 2;
  }
  #emoji-amount-container {
    flex: 1;
  }
  #step-1-right-amount-container {
    flex: 1;
  }
  #step-2-right-amount-container {
    flex: 1;
  }
  #step-1-left-amount-container {
    flex: 1;
  }
  #step-2-left-amount-container {
    flex: 1;
  }
  #step-zig-right-amount-container {
    flex: 1;
  }
  .processing-button-container {
    flex: 2;

    .encode-button-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .copy-button-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.panel#decode-panel {
  #encoded-text-container {
    flex: 7;
  }
  #decoded-text-container {
    flex: 7;
  }
  .processing-button-container {
    flex: 2;

    .decode-button-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .copy-button-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}